@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   margin: 0px 100px;
   font-size: 21px;
   background: #f8f8f8;
   font-family: 'Caveat', cursive;
   scroll-behavior: smooth;
   height: 100%;
}

body {
   overflow: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
   height: 100%;
}

body::-webkit-scrollbar {
   width: 0;
   height: 0;
}

.container {
   max-width: 1400px;
   margin: 0 auto;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   background-image: url(./img/1632965556_21-mykaleidoscope-ru-p-kofe-pirozhnoe-tsveti-krasivo-foto-23.jpg);
   background-size: cover;
   background-position: bottom;
   width: 100%;

}

.come-back-home {
   cursor: pointer;
   text-decoration: none;
   color: black;
   display: flex;
   justify-content: flex-start;
   font-size: 20px;
}

.header-logo {
   width: 30px;
   margin-left: 25px;
}

.text-logo {
   display: flex;
   align-items: center;
   margin-left: 10px;
}

.menu-nav {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   width: 25%;
}

.nav-links {
   color: brown;
   font-size: 17px;
   font-style: italic;
   text-decoration: none;
   font-weight: 600;
   font-family: 'Times New Roman', Times, serif;
}

.nav-catalog {
   color: brown;
   font-size: 17px;
   font-style: italic;
   text-decoration: none;
   font-weight: 600;
   font-family: 'Times New Roman', Times, serif;
}

.nav-links:hover {
   color: blue;
}

.hr-header {
   margin-top: 15px;
}

main {
   flex-grow: 1;
}

.catalog {
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 30px;
   margin-top: 30px;
}

.container-catalog-cake {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
}

.card-cake {
   display: flex;
   flex-direction: column;
   width: 280px;
}

.card-cake-photo {
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 295px;
   margin: 0 0 15px 0;
}

.product {
   font-size: 20px;
   font-weight: 550;
   text-align: center;
   margin: 0 0 10px 0;
   font-family: 'Times New Roman', Times, serif;
}

.cheesecake {
   background-image: url(img/cheesecake.jpg);
}

.button-cake {
   cursor: pointer;
   width: 50%;
}

.button-cake-link {
   text-decoration: none;
   color: black;
}

.cake-photo {
   background-image: url(img/cake.jpg);
   background-position: bottom;
}

.three-chocolates {
   background-image: url(img/three_chocolates.jpg);
}

.gingerbread {
   background-image: url(img/gingerbread.jpg);
}


img+a {
   margin: 15px 0 0;
}

footer {
   font-size: 14px;
   margin: 40px 0 0;
   font-family: 'Times New Roman', Times, serif;
   background-color: rgb(251, 243, 249);
}

.rights-reserved {
   display: flex;
   justify-content: end;
   align-items: center;
   height: 50px;
   padding: 0 15px;
}